* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #f1f5f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
}

.container {
    background-color: #f1f5f8;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}

.container h2 {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

#color {
    color: #0af;
}

#btn {
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.3s;
}

#btn:hover {
    background-color: #000;
    color: #fff;
}