body {
  background: #f0f7ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.menu {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.title h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.underline {
  width: 80px;
  height: 4px;
  background: #4377ff;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 5px;
}

/* Buttons */
.btn-container {
  margin-bottom: 30px;
}

.filter-btn {
  padding: 8px 15px;
  background: #e0edff;
  border: 1px solid #aac6ff;
  color: #333;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn:hover {
  background: #c7daff;
}

/* Menu Layout */
.section-center {
  display: grid;
  gap: 30px;
}

.menu-item {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.menu-item img {
    width: 150px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.item-info {
    text-align: left;
}

.item-header {
    display: flex;
    justify-content: center;
    font-family: bold;
    font-size: 1rem;
}

.item-text {
    margin-top: 10px;
    color: #666;
    font-size: 0.9rem;
}

@media (max-width: 700px) {
    .menu-item {
        flex-direction: column;
        text-align: center;
    }

    .menu-item img {
        width: 100%;
        height: 180px;
    }
}