body {
    background: #f7f9f9;
    font-family: Inter, sans-serif;
}

.feed-header {
    background: white;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.logout-btn {
    background: red;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
}

.post-area {
    background: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

#post-input {
    width: 100%;
    padding: 12px;
    height: 80px;
    border-radius: 8px;
}

.img-input {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
}

.post-btn {
    margin-top: 12px;
    background: #1d9bf0;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
}

.post {
    background: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
